[ant-click-animating-without-extra-node='true']::after, 
.ant-click-animating-node {
  opacity: 0.35 !important;
  --antd-wave-shadow-color: coral !important;
}
header.ant-layout-header {
  padding: 0;
  z-index: 10;
  height: 10vh;
  min-height: 10vh;
  line-height: unset;
  background: lightsalmon;
  box-shadow: 0px 0px 10px #888;
}
ul.ant-menu-horizontal {
  border: 0;
  min-width: 100%;
  min-height: 100%;
  box-shadow: none;
  line-height: 10vh;
  background: lightsalmon;
  white-space: nowrap;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #e8e8e8;
}
ul.ant-menu-horizontal li.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-overflowed-submenu.ant-menu-submenu-selected .ant-menu-submenu-title,
ul.ant-menu-horizontal li.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-overflowed-submenu .ant-menu-submenu-title:hover {
  color: white;
}
ul.ant-menu-horizontal li.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-overflowed-submenu.ant-menu-submenu-selected,
ul.ant-menu-horizontal li.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-overflowed-submenu:hover,
ul.ant-menu-horizontal li.ant-menu-item:hover,
ul.ant-menu-horizontal li.ant-menu-item.ant-menu-item-selected {
  color: white;
  text-shadow: 0 1px 5px coral;
  border-bottom: 2px solid coral;
}
main.site-layout,
main.site-layout.ant-layout-content {
  display: flex;
  overflow: auto;
  max-height: 90vh;
  min-height: 90vh;
  min-width: 100vw;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
}
ul.ant-menu-horizontal li.ant-menu-item.login-button {
  float: right;
  color: lightsalmon;
  background-color: white;
  border-left: 1px solid #e8e8e8;
}
ul.ant-menu-horizontal li.ant-menu-item.login-button:hover {
  text-shadow: none;
  border-bottom: 2px solid coral;
}
ul.ant-menu-horizontal li.ant-menu-item.ant-menu-item-selected.login-button {
  color: white;
  text-shadow: none;
  border-bottom: none;
  background-color: coral;
}
.no-data,
div.no-data,
.center-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-height: 90vh;
  align-items: center;
  justify-content: space-evenly;
}
form.ant-form.login-form {
  padding: 20px;
  display: flex;
  min-width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid lightsalmon;
  box-shadow: 0px 0px 10px coral;
}
div.reset-password,
div.login-controls {
  display: flex;
  justify-content: space-around;
}
div.login-controls {
  justify-content: space-between;
}
ul.item-info,
div.item-info {
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
}
button.ant-btn-primary,
button.ant-btn-primary:focus {
  border-color: lightsalmon;
  background-color: lightsalmon;
}
button.ant-btn-primary:hover {
  border-color: coral;
  background-color: coral;
}
button.ant-btn-primary:active {
  border-color: darksalmon;
  background-color: darksalmon;
}
div.login-controls button {
  width: 49%;
}
.ant-select-selection {
  min-width: 100%;
}
input:hover,
input:focus,
.ant-input:hover,
.ant-input:focus,
.ant-select-focused,
.ant-select-selection:hover,
.ant-select-selection:focus,
.ant-select-selection:active,
.ant-upload.ant-upload-select-picture-card:hover {
  border-color: coral !important;
}
.ant-input:focus,
.ant-input:focus,
.ant-select-focused,
.ant-select-selection:focus {
  -webkit-box-shadow: 0 0 3px 2px lightsalmon !important;
  box-shadow: 0 0 3px 2px lightsalmon !important;
}
.required {
  border-color: red !important;
  -webkit-box-shadow: 0 0 3px 2px tomato !important;
  box-shadow: 0 0 3px 2px tomato !important;
}
.ant-card-bordered {
  height: fit-content;
}
.margin-bottom,
input.ant-input.margin-bottom {
  margin-bottom: 10px;
}
.cat-item .ant-card-cover {
  min-height: 65%;
  max-height: 65%;
  overflow: hidden;
}
.cat-item.new-item .ant-card-cover {
  min-height: unset;
  max-height: unset;
  overflow: unset;
}
div.cat-item.ant-card {
  margin-bottom: 20px;
}
.cat-item {
  width: 26vw;
  height: 40vh;
  max-width: 26vw;
  max-height: 40vh;
}
.cat-item.new-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.avatar-uploader.ant-upload-picture-card-wrapper {
  display: flex !important;
  justify-content: center;
}
div.ant-upload.ant-upload-select-picture-card {
  margin: 0;
  width: 85%;
}
span.ant-upload img {
  width: unset !important;
  max-height: 104px;
}
.cat-item.new-item .ant-card-body {
  padding: 10px 24px;
}
.cat-item.new-item .ant-input,
.cat-item.new-item .ant-select {
  margin: 0 0 10px 0;
}
.ant-input.cart-item {
  max-width: 100px;
}
.request.ant-card {
  margin-right: 10px;
  margin-bottom: 10px;
}
.requests {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1100px) and (min-width: 1001px) {
  .cat-item {
    width: 40vw;
    max-width: 40vw;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
  .cat-item {
    width: 45vw;
    max-width: 45vw;
  }
}
@media only screen and (max-width: 700px) {
  form.ant-form.login-form {
    min-width: 80%;
  }
}
@media only screen and (max-width: 799px) and (min-width: 600px) {
  .cat-item {
    width: 52vw;
    max-width: 52vw;
  }
}
@media only screen and (max-width: 599px) and (min-width: 350px) {
  .cat-item {
    width: 80vw;
    max-width: 80vw;
  }
}
@media only screen and (max-width: 349px) {
  .cat-item {
    width: 100vw;
    max-width: 100vw;
  }
}
@media only screen and (min-height: 750px) and (max-height: 1000px) {
  .cat-item {
    height: 50vh;
    max-height: 50vh;
  }
}
@media only screen and (min-height: 650px) and (max-height: 749px) {
  .cat-item {
    height: 60vh;
    max-height: 60vh;
  }
}
@media only screen and (max-height: 649px) {
  .cat-item {
    height: 65vh;
    max-height: 65vh;
  }
}
